# --- macOS ---
.DS_Store
.AppleDouble
.LSOverride

# --- Windows ---
Thumbs.db
Desktop.ini

# --- General temp files ---
*.log
*.tmp
*.swp
*.swo
KattSpel/WwiseProjekt/P7 - Group 3/ProfilingSession4.prof
